@import "../../responsive.scss";
.teamsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem;
    background-color: #fce9e9;
    h1{
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        @include xxl{
            font-size: 2rem;
        }
        @include sm{
            font-size: 1.5rem;
        }
    }

    .teamContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        .team{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            width: 15rem;
           height: 100%;
           @include sm{
            width: 20rem;
            padding: 0 1rem;
            align-items: center;
            }
           
           h2{
            font-size: 1.35rem;
            font-weight: bold;
           }
           span{
            font-size: 1.25rem;
           }
           p{
            font-size: 1.25rem;
            color: #3f3f3f;
           }
            .imageContainer{
                width: 15rem;
                height: 18rem;
                z-index: 2; 
                @include sm{
                    width: 20rem;
                    height: 20rem;
                   }
                img{
                    border: 5px solid #051cc8;
                    width: 15rem;
                    height: 18rem;
                    object-fit: cover;
                    filter: grayscale(50%);
                    @include sm{
                        width: 20rem;
                        height: 20rem;
                        object-position: 50% 22%;
                       }
                    &:hover{
                       
                        transform: perspective(800px) translate3d(0px, -.5rem, 0px);
                        border-right: 7px solid #e90404;
                        border-bottom: 10px solid #e90404;
                        border-top: 5px solid #051cc8;
                        filter: grayscale(0%);
                        transform: scale(1.05);
                        transition: transform .25s linear;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
                }
            }
        }
       
        .socialMedia{
            display: flex;
            align-items: center;
            gap: 1rem;
               img{
                width: 1.5rem;
                height: 1.5rem;
                object-fit: cover;
                cursor: pointer;
               }
            }
           
        
    }
}