@import '../../../responsive.scss';
.aboutUsHomeContainer{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding:  8rem 8rem 5rem 0rem ;
    gap: 1rem;
    @include xxl{
        padding: 8rem 2rem;;
    }
    @include md{
        padding: 5rem 1rem;;
    }
    @include sm{
        flex-direction: column;
        border-top: 1px dotted #ff0000;
        padding: 2rem 1rem;
     }
    .left{
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 45rem;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        @include md{
            justify-content: center;
            clip-path: none;
        }
        @include sm{
            height: 25rem;
        }
        img{
            width: 60%;
            height: 45rem;
            object-fit: cover;
            object-position: 20% top;
            @include md{
                width: 100%;
            }
            @include sm{
                height: 100%;
                width: 100%;
            }
            
        }
   
        
    }
    .right{
        flex: 2;
        margin-right: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        background-color:  #ffffffe7;
        height: 45rem;
        @include xxl{
            margin-right: 8rem;
        }
        @include xl{
            flex: 3;
            margin-right: 5rem;
        }
        @include md{
            padding: 1rem;
            margin-right: 2rem;
        }
        @include md{
            padding: 0rem;
            margin-right: 0rem;
        }
      
        .rightContent{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5rem;
          
        h1{
            font-size: 3.7rem;
            text-transform:capitalize;
            color: #2c2c2c;
            @include xxl{
                font-size: 2.7rem;
            }
            @include xl{
                font-size: 1.8rem;
            }
            @include sm{
                text-align: center;
                font-size: 1.5rem;
            }
        }
        span{
            color: #051cc8;
            font-size:2.65rem;
            @include xl{
                font-size: 2rem;
            }
            b{
                color: #ff0000;
                font-weight: 500;
            }
            @include sm{
                text-align: center;
                font-size:1.65rem;
            }
        }
        p{
            font-size: 1.25rem;
            font-weight: 400;
           text-align: justify;
            color: #2c2c2cbb;
            @include xxl{
                font-size: 1.25rem;
            }
            @include xl{
                font-size: 1.05rem;
            }
            @include md{
                font-size: 1rem;
            }
            @include sm{
                text-align: left;
                line-height: 1.5rem;
            }
        }
    
            button{
                background-color: #051cc8;
                padding: .5rem 1rem;
                font-size: 1.25rem;
                color: #fff;
                border:none;
                border-radius: .35rem;
                cursor: pointer;
                margin-top: 2rem;
                float: right;
                @include xl{
                    font-size: 1.15rem;
                    margin-top: 1rem;
                }
                @include sm{
                    font-size: .85rem;
                   margin-top: 1rem;
                   border-radius: .25rem;
               }
                &:hover{
                    background-color: #ff0000;
                    transition: all .5s ease-in-out;
                }
            }
       }
        
    }
}