
@import '../../responsive.scss';
.jobAngeboteContainer{

    .topBanner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img{
            height: 20rem;
            width: 100%;
            object-fit: cover;
            object-position: 60% 32%;
            @include sm{
              height: 15rem;
              width: 100%;
              object-position: 60% 15%;
            }
        }
        .bannerImage{
            background: rgb(3,13,88);
            background: linear-gradient(90deg, rgba(3,13,88,0.7287115529805672) 0%, rgba(1,10,84,0.695098107602416) 55%, rgba(159,0,0,0.19089642693014708) 100%);
            z-index: 10;
            height: 20rem;
            width: 100%;
            position: absolute;
          top: 0%;
          color: #fff;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          @include sm{
            height: 15rem;
            width: 100%;
          }
  
          h1{
              position: relative;
              top: 3rem;
              font-size: 3rem;
              text-transform: uppercase;
              text-align: center;
              @include sm{
                font-size: 1.5rem;
              }
          
            }
       
        }
      }

    .jobHeader{
        width: 100%;
        background-color: #282828;
        line-height: 4rem;
       display: flex;
       align-items: center;
       overflow: hidden;
    gap: 50%;
           .scrollContainer{
        white-space: nowrap;
       display: inline-block;
        width: 205%;
        margin: 0 2.5rem;
        animation: slide 25s linear infinite;
             @include xl{
              width: 310%;
            }
             @include sm{
              width: 500%;
            }
       
        h2{
            color: #ffffffd5;
            font-size: 2rem;
            font-weight: 300;
            margin: 0 100rem;
               @include xl{
              margin: 0 45rem;
               font-size: 1.75rem;
            }
             @include md{
              margin: 0 35rem;
               font-size: 1.5rem;
            }
             @include sm{
              margin: 0 25rem;
               font-size: 1.25rem;
            }
          
        }
    }
       
      }
    

    .teamContentContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8rem 1rem;
        @include xl{
          
          padding: 6rem 1rem;
        }
        @include md{
          
          padding: 4rem 1rem;
        }
        @include sm{
          
          padding: 2rem 1rem;
        }
        h1{
            font-size: 2.5rem;
            text-transform: uppercase;
            text-align: center;
              @include xxl{
              font-size: 2rem;
            }
            @include sm{
              font-size: 1.5rem;
            }
        
          }

          
          .teamContent{
           
            padding: 1rem 5rem;
            gap: .5rem;
            @include sm{
            
              padding: 1rem 0rem;
            }
            h1{
              font-size: 7rem;
              float: left;
              padding-right: 1rem;
            }
            p{
              
              font-size: 1.5rem;
              padding: 1.5rem 0;
            
              color: #404040;
                 @include xl{
                font-size: 1.25rem;
                padding: 1.5rem 0rem;
              }
              @include sm{
                font-size: 1rem;
                padding: 1.5rem 0rem;
              }
            }
            
           
        }
    }

@keyframes slide {
    from{
        transform: translateX(-0);
    }
    to{
        transform: translateX(-100%);
    }
}

}