@import '../../responsive.scss';

.arbeitsJobBannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding:4rem 19rem 10rem 19rem;
    @include xxl{
       
        padding:2rem 10rem 10rem 10rem;
    }
    @include xl{
       
        padding:2rem 5rem 10rem 5rem;
    }
    @include lg{
       
        padding:2rem 1rem 10rem 1rem;
    }
    @include sm{
        flex-direction: column;
        padding:2rem 1rem 10rem 1rem;
    }
    .left{
        width: 100%;
        height: 20rem;
        @include sm{
            height: 100%;
            width: 100%;
        }
       
      .imageContainer{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        height: 20rem;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .textContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            width: 100%;
            height: 100%;
            h2{
                font-size: 1.85rem;
                @include md{
                    font-size: 1.5rem;
                }
                &:hover{
                    padding: 1rem;
                    border: .15rem solid #fff;
                    background-color: #c50303;
                    border-radius: .5rem;
                    transition: all .5s ease-in-out;
                    
                    @include sm{  
                        font-size: 1.25rem;
                        &:hover{
                            padding: 1rem;
                            border: none;
                            background-color: red;
                            border-radius: .5rem;
                            transition: all .5s ease-in-out;
                           
                        }
                        
                    }
                }
            }
          }
      }
        
    }
   .right{
    width: 100%;
    height: 20rem;
        cursor: pointer;
        @include sm{
            height: 100%;
            width: 100%;
        }
    .imageContainer{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        height: 20rem;
    
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .textContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            width: 100%;
            height: 100%;
            h2{
                font-size: 1.85rem;
                @include md{
                    font-size: 1.5rem;
                }
                &:hover{
                    padding: 1rem;
                    border: .15rem solid #fff;
                    background-color: #c50303;
                    border-radius: .5rem;
                    transition: all .5s ease-in-out;
                    
                    @include sm{  
                        font-size: 1.25rem;
                        &:hover{
                            padding: 1rem;
                            border: none;
                            background-color: red;
                            border-radius: .5rem;
                            transition: all .5s ease-in-out;
                           
                        }
                        
                    }
                }
            }
          }
      }
    }

}