@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
    
}

.active{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(13, 2, 216) 0%, rgb(2, 66, 146) 46%, rgba(255,48,48,1) 100%);
  color: #ffffff !important;
  transition: all .5s ease-in-out;
 }


